---
type: "micro-skill"
title: "Causality System Verification"
tags:
  - "cpe"
  - "micro-skill"
source: "CPE 313 - Signals and Linear Systems"
parent-macro: "System Property Analysis"
parent-competency: "L3- Apply System Tests"
---

# Causality System Verification

Parent macro: [[system-property-analysis|System Property Analysis]]

Parent competency:

- [[L3-apply-system-tests|L3- Apply System Tests]]

## Description

Application of mathematical tests to determine system causality.
