---
type: "Microskill"
title: "Static/Dynamic System Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/mathematics/system-property-analysis/system-property-analysis|system-property-analysis]]"
requires-in-competencies:
  - "[[skills/mathematics/system-property-analysis/competencies/L2-apply-system-tests|L2-apply-system-tests]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Static/Dynamic System Verification

Parent macro: [[system-property-analysis|System Property Analysis]]

Parent competency:

- [[skills/mathematics/system-property-analysis/competencies/L2-apply-system-tests|L3- Apply System Tests]]

## Description

Application of mathematical tests to determine static or dynamic system behavior.
