---
type: "micro-skill"
title: "Connection Verification"
tags:
  - "cpe"
  - "micro-skill"
source: "CPE 222 - Digital Electronics and Logic Design"
parent-macro: "Hardware Troubleshooting"
parent-competency: "L3- Troubleshoot and mitigate hardware challenges"
---

# Connection Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/hardware-troubleshooting/hardware-troubleshooting|Hardware Troubleshooting]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/hardware-troubleshooting/competencies/L3-troubleshoot-and-mitigate-hardware-challenges|L3- Troubleshoot and mitigate hardware challenges]]

## Description

Systematic checking of connections.
