---
type: "micro-skill"
title: "Power Supply Verification"
tags:
  - "cpe"
  - "micro-skill"
source: "CPE 222 - Digital Electronics and Logic Design"
parent-macro: "Hardware Troubleshooting"
parent-competency: "L2- Explain circuit verification and hardware challenge impact"
---

# Power Supply Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/hardware-troubleshooting/hardware-troubleshooting|Hardware Troubleshooting]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/hardware-troubleshooting/competencies/L2-explain-circuit-verification-and-hardware-challenge-impact|L2- Explain circuit verification and hardware challenge impact]]

## Description

Understanding steps for verifying power supply.
