---
type: "microskill"
icon: "LiBoxes"
title: "Linearity System Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/mathematics/signals-systems/system-property-analysis/system-property-analysis|system-property-analysis]]"
requires-in-competencies:
  - "[[skills/mathematics/signals-systems/system-property-analysis/competencies/L2-apply-system-tests|L2-apply-system-tests]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Linearity System Verification

Parent macro: [[system-property-analysis|System Property Analysis]]

Parent competency:

- [[skills/mathematics/signals-systems/system-property-analysis/competencies/L2-apply-system-tests|L3- Apply System Tests]]

## Description

Application of mathematical tests to determine system linearity.
