---
type: "microskill"
icon: "LiBoxes"
title: "Connection Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/computing/hardware-embedded/electronics/hardware-troubleshooting/hardware-troubleshooting|hardware-troubleshooting]]"
requires-in-competencies:
  - "[[skills/computing/hardware-embedded/electronics/hardware-troubleshooting/competencies/L2-troubleshoot-and-mitigate-hardware-challenges|L2-troubleshoot-and-mitigate-hardware-challenges]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Connection Verification

Parent macro: [[skills/computing/hardware-embedded/electronics/hardware-troubleshooting/hardware-troubleshooting|Hardware Troubleshooting]]

Parent competency:

- [[skills/computing/hardware-embedded/electronics/hardware-troubleshooting/competencies/L2-troubleshoot-and-mitigate-hardware-challenges|L3- Troubleshoot and mitigate hardware challenges]]

## Description

Systematic checking of connections.
