---
type: "Microskill"
title: "Power Supply Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/hardware-embedded/electronics-embedded/laboratory-equipment-operation/laboratory-equipment-operation|laboratory-equipment-operation]]"
requires-in-competencies:
  - "[[skills/hardware-embedded/electronics-embedded/laboratory-equipment-operation/competencies/L2-operate-equipment-for-measurement-and-diagnosis|L2-operate-equipment-for-measurement-and-diagnosis]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Power Supply Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/laboratory-equipment-operation/laboratory-equipment-operation|Laboratory Equipment Operation]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/laboratory-equipment-operation/competencies/L2-operate-equipment-for-measurement-and-diagnosis|L3- Operate Equipment for Measurement and Diagnosis]]

## Description

Ensuring power supply functionality through equipment operation.
