---
type: "Microskill"
title: "Functionality Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/hardware-embedded/electronics-embedded/circuit-prototyping/circuit-prototyping|circuit-prototyping]]"
requires-in-competencies:
  - "[[skills/hardware-embedded/electronics-embedded/circuit-prototyping/competencies/L1-explain-circuit-simulation-purpose|L1-explain-circuit-simulation-purpose]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Functionality Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/circuit-prototyping/circuit-prototyping|Circuit Prototyping]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/circuit-prototyping/competencies/L1-explain-circuit-simulation-purpose|L2- Explain Circuit Simulation Purpose]]

## Description

Understanding how simulation confirms circuit operation.
