---
type: "micro-skill"
title: "Functionality Verification"
tags:
  - "cpe"
  - "micro-skill"
source: "CPE 324 - Embedded Systems"
parent-macro: "Circuit Prototyping"
parent-competency: "L2- Explain Circuit Simulation Purpose"
---

# Functionality Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/circuit-prototyping/circuit-prototyping|Circuit Prototyping]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/circuit-prototyping/competencies/L2-explain-circuit-simulation-purpose|L2- Explain Circuit Simulation Purpose]]

## Description

Understanding how simulation confirms circuit operation.
