---
type: "microskill"
icon: "LiBoxes"
title: "Circuit Functionality Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/computing/hardware-embedded/embedded-systems/proteus-8-simulation/proteus-8-simulation|proteus-8-simulation]]"
requires-in-competencies:
  - "[[skills/computing/hardware-embedded/embedded-systems/proteus-8-simulation/competencies/L2-simulate-and-verify-circuits-in-proteus|L2-simulate-and-verify-circuits-in-proteus]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Circuit Functionality Verification

Parent macro: [[skills/computing/hardware-embedded/embedded-systems/proteus-8-simulation/proteus-8-simulation|Proteus 8 Simulation]]

Parent competency:

- [[skills/computing/hardware-embedded/embedded-systems/proteus-8-simulation/competencies/L2-simulate-and-verify-circuits-in-proteus|L3- Simulate and verify circuits in Proteus]]

## Description

Confirmation of intended circuit functionality through simulation.
