---
type: "micro-skill"
title: "Circuit Correctness Verification"
tags:
  - "cpe"
  - "micro-skill"
source: "CPE 222 - Digital Electronics and Logic Design"
parent-macro: "Combinational Logic Design"
parent-competency: "L4- Analyze and Design Modular Combinational Circuits"
---

# Circuit Correctness Verification

Parent macro: [[skills/hardware-embedded/electronics-embedded/combinational-logic-design/combinational-logic-design|Combinational Logic Design]]

Parent competency:

- [[skills/hardware-embedded/electronics-embedded/combinational-logic-design/competencies/L4-analyze-and-design-modular-combinational-circuits|L4- Analyze and Design Modular Combinational Circuits]]

## Description

Verification of the correctness of designed circuits.
