---
type: "Microskill"
title: "Resolution Verification"
tags:
  - "cpe"
  - "microskill"
parent-skill: "[[skills/business-it/business-product/technical-troubleshooting/technical-troubleshooting|technical-troubleshooting]]"
requires-in-competencies:
  - "[[skills/business-it/business-product/technical-troubleshooting/competencies/L1-explain-technical-troubleshooting-methodology|L1-explain-technical-troubleshooting-methodology]]"
contributors:
  - "[[contributors/just3rd|just3rd]]"
---

# Resolution Verification

Parent macro: [[skills/business-it/business-product/technical-troubleshooting/technical-troubleshooting|Technical Troubleshooting]]

Parent competency:

- [[skills/business-it/business-product/technical-troubleshooting/competencies/L1-explain-technical-troubleshooting-methodology|L2- Explain Technical Troubleshooting Methodology]]

## Description

Confirming that the original issue is resolved.
